---
import Layout from '../../layouts/Default.astro'
import NasaImage from '../../components/vue/NasaImage.vue'
---

<html>
	<body>
		<main>
			<!-- <h1 class="font-bold">This is Astro Test</h1> -->
			<NasaImage client:visible />
		</main>
	</body>
</html>